*.iml
.gradle
.gradle_local
.kotlin
/local.properties
/.idea/
.DS_Store
build/
**/build/
captures/
.externalNativeBuild
.cxx
**/.cxx/
local.properties
.env
debug.keystore
.artifacts/
crash_stacktrace.txt
*.log
hs_err_pid*.log
